-body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

h1, h2 {
  color: #007BFF;
}

button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  font-size: 1rem;
  border: none;
  background: #007BFF;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#answers button {
  background: #17a2b8;
}
.back-btn {
  display: block;
  margin: 10px auto;
  padding: 8px 20px;
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}






#result {
  margin-top: 20px;
  font-weight: bold;
}
